@tailwind base;
@tailwind components;
@tailwind utilities;@media screen and (max-width: 4500px) and (min-width: 900px) {
    .mobile{
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    .desktop{
      display: none;
    }
  } 

  #fix{
    font-size: 10px;
}
input[type="text"]:focus {
    color: blue;
  }